@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center mt-5">
    <h1>Welcome Student </h1>
    <hr class="mb-4" />
    <div>
        <a href="/Student/Add" class="btn btn-primary me-2">Add</a>
        <a href="/Student/Show" class="btn btn-primary">Show</a>    
    </div>
</div>