@{
    ViewData["Title"] = "Home Page";
}

<!-- ربط ملف CSS الخارجي -->
<link rel="stylesheet" href="~/css/StyleHome.css" />

<div class="container text-center mt-5">
    <h1 class="display-4 text-primary mb-4">Welcome Student</h1>
    <hr class="mb-4" />
    <div class="d-flex justify-content-center gap-3">
        <a href="/Student/Add" class="btn btn-lg btn-primary shadow-lg">Add New Student</a>
        <a href="/Student/Show" class="btn btn-lg btn-outline-primary shadow-lg">Show All Students</a>
    </div>
</div>
